
.anchor-button {  
    display: flex;
    align-items: center;
    justify-content: center;  
    min-width: 200px;
    height: 50px;
    background-color: #58319D;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: 2px solid #714FB6;
}

.anchor-button:hover {
    background-color: #3C2865;
}

.anchor-button-mobile {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: 50px;
    background-color: transparent;
    text-decoration: none;
    color: white;
}