.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #000000;
  border: 2px solid #ffffff;
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: #ffffff;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}

.preloader {
  width: 100%;
  height: auto;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader img {
  animation: logo 2s ease-out infinite;
  position: absolute;
}
@keyframes logo {
  100% {
    opacity: 30%;
  }

  50% {
    opacity: 100%;
  }

  0% {
    opacity: 30%;
  }
}

.loader {
  width: 6rem;
  height: 4px;
  display: inline-block;
  position: relative;
  background: #714fb6;
  overflow: hidden;
  margin-top: 7rem;
}
.loader::after {
  content: "";
  width: 6rem;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s ease-out infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
