
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}

/* Add this CSS to your existing stylesheet or in a new stylesheet linked to your HTML */

/* Adjust the breakpoint as needed */
@media (min-width: 992px) {
    /* For screens larger than or equal to lg (992px and above) */
    #footer .row {
      flex-wrap: nowrap; /* Keep the items in the row on the same line */
    }
  
    #footer .col-lg-3 {
      width: 25%; /* Adjust the width as needed */
    }
  
    #footer .col-lg-4 {
      width: 75%; /* Adjust the width as needed */
    }
  
    #footer .col-lg-4 ul {
      display: flex; /* Make the list items display horizontally */
      justify-content: flex-start; /* Adjust as needed based on your design */
    }
  
    #footer .col-lg-4 li {
      margin-right: 0px; /* Adjust the spacing between social icons */
    }
  }
  

body {
    background-color: #FFFFFF;
    font-family: 'Epilogue', sans-serif!important;
    color: #000000;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #2D2E40;
    font-weight: 300;
}

p {
}

b {
    font-weight: 700;
}

/* MAIN COLORS */
/* Background */
.bg-color-black { 
    background-color: black;
}
.bg-color-white { 
    background-color: white;
}
.bg-color-gray { 
    background-color: #2D2E40;
}
.bg-color-light-gray { 
    background-color: #F4F5F6;
}

.bg-color-violet {
    background-color: #714FB6;
}

/* Text */
.text-color-black { 
    color: black;
}
.text-color-white { 
    color: white;
}
.text-color-gray { 
    color: #2D2E40;
}
.text-color-light-gray { 
    color: #a4a4a4!important;
}

.bold {
    font-weight: 600;
}
.uppercase {
    text-transform:uppercase;
}

.backdrop-blur {
    backdrop-filter: blur(4px);
    background-color: rgba(32, 3, 32, 0.449);
    position: fixed;
    min-height: 100vh;
    z-index: 20;
    min-width: 100vw;
}


::selection {
    background: #ffffff;
    color: black;
}
.selected {
    background-color: #714FB6;
    padding: 5px;
    color: white;
}
.selected-whitebg {
    background-color: #714FB6;
    padding: 5px;
    color: white;
}
::-moz-selection {
    background: #ffffff;
    color: black;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-track{
    border-radius: 12px;
    background: white;
}
body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background:#714FB6;
}

.bg-black {
    background: #000000;
}
a {
    color: #232323;
    text-decoration: none;
}
a:hover {
    color: #cacaca;
    text-decoration: none;
    transition-duration: 200ms;
}

.containerT{
    display: flex;
    margin-right: 400px;
    margin-left: 400px;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #714FB6;
  overflow: hidden;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: 120px;
  height: 120px;
  display: inline-block;
  padding: 0px;
}

.preloader-icon .icon {
    position: absolute;
    width: 34px;
    height: 40px;
    left: 0;
    right: 0;
    top: 40px;
    margin: 0 auto;
}
.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: #ffffff;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/*Cookie*/
.contain-cookie{
    min-width: 100%;
    height: auto;
    z-index: 100000;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    color: rgb(17, 17, 17);
    background-color: rgb(255, 255, 255);
    font-size: 12px;
}

.modal-delete{
    background: #F4F5F6;
    color: #1C1C1C!important;
    border-radius: 50px;
    padding-bottom: .5em;
    padding-top: .5em;
    transition: 0.4s ease-out;
    border: none;
    font-size: 11px;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    display: inline-block;
    margin-right: 0.3em;
    margin-bottom: 0;
    margin-left: 3em;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    margin-left: 1rem;
}

.modal-delete:hover{
    opacity: .7;
    box-shadow: 0 4px 11px rgba(255, 255, 255, 0.2);
    color: #2D2E40!important;
}
#back-to-top {
    position: fixed;
    bottom: 33px;
    right: 33px;
    display: none;
}
.btn-go-top {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9999;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 50%;
    transition: 0.3s ease-out;
    bottom: 0rem;
}
.btn-go-top:focus:hover, .btn-go-top:hover {
    color: #000000;
    background-color: #ffffff;
    opacity: 1;
}
.btn-go-top span{
    display: none;
}

.btn-white {
    color: black;
    display: block;
    background-color: #efefef;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    padding: 9px 23px 6px;
    border-radius: 50px;
}
.btn-white:hover {
    color: black;
    opacity: .8;
}

.btn-black {
    color: #efefef;
    display: block;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    padding: 9px 23px 6px;
    border-radius: 50px;
}

.btn-violet {
    color: #efefef;
    display: block;
    background-color: #714FB6;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    padding: 9px 23px 6px;
    border-radius: 50px;
}

.btn-violet:hover {
    color: #FFFFFF;
    background-color: #61439d;
    transition-duration: 200ms;
}

.btn-black:hover {
    color: #efefef;
    opacity: .8;
}
.btn-bg {
    background: #ffffff;
    color: #333333;
    border-radius: 50px;
    padding: 0.714rem 1.614rem;
    /* transition: 0.4s ease-out; */
    border: none;
}

.btn-black {
    background: #000000;
    color: #FFFFFF;
    border: none;
}
.btn-black:hover {
    opacity: .8;
}
.btn-arrow {
    background: transparent;
    border: none;
}
.btn-arrow:hover .btn-send {
    /* background: #6d6ad1; */
    /* color: #ffffff; */
    opacity: .8;
}





/*fonts*/
.font-300 {
    font-weight: 300 ;
}
.font-700 {
    font-weight: 700 ;
}
.font-light {
    font-weight: 400;
}

.text-grey {
    color: #2D2E40;
}

.border-t-white {
    border-top: solid 1px rgb(255 255 255 / 40%);
}
.border-t-black {
    border-top: solid 1px rgb(0 0 0 / 100%);
}
.border-b-black {
    border-bottom: solid 1px rgb(0 0 0 / 100%);
}

@media (max-width: 767px) {
    .w-xs-100 {
        width: 100%;
    }
}





/*navbar*/

.navbar{
    background: white;
}
.nav-item {
    position: relative;
}
.navbar .navbar-nav .nav-link {
    padding: 1rem 0;
}
.navbar-nav .nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 97%;
    left: 0;
    background: #000000;
    transition: transform 0.4s;
    transform: scaleX(0);
    transform-origin: center;
}
.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}
.navbar-nav .active .nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    top: 97%;
    transform: scaleX(1);
}
@media (max-width: 640px) {
    .navbar-brand {
        max-width: 80%;
        margin: 0;
    }
}








/*HERO*/
#home {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: 'white';
    align-items: center;
    display: flex;
}
@media (max-width: 768px) {
    #home {
       height: 100%;
    }
}
.title-hero {
    font-weight: 300;
}
@media (min-width: 1200px) {
    .title-hero {
        font-size: 73px;
    }
}
@media (max-width: 1024px) {
    .title-hero {
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    .title-hero {
        font-size: 45px;
    }
}
@media (max-width: 767px) {
    .box_text-hero h1 {
        /* font-size: 31px;
        line-height: 42px; */
    }
}

.img-hero {
    margin: 0;
}
@media (max-width: 767px) {
    .img-hero img {
        width: 550px;
    }
}



/* Reviews section */
.review-avatar {
    width: 80px;
    height: auto;
    border-radius: 50px;
}
.comments-image {
    max-height: 50px;
    width: auto;
}
/*CONTACT SECTION*/
.subtitle-section {
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
}
.list-checked-item {
    color: #000000;
    border-bottom: solid 1px #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.list-checked-item:last-child {
    border-bottom: none;
}
.list-checked-success .list-checked-item::before {
    background-image: url(../img/svg/arrow-white.svg);
}

.border-top-grey {
    border-top: solid 1px #2d2e40;
}

textarea.form-control-lg {
    min-height: calc(2.5em + 8.314rem);
}
.form-control-lg {
    color: white!important;
}

.form-control::placeholder {
    color: #868686;
}
.form-control:focus {
    color: #ffffff;
    background-color: #202637;
    border-color: rgb(187, 187, 187);    
    transition: 0.5s ease-out;
}


/* 
TEAM CSS */
/* .containerT{
    max-width: 960px;
    margin-inline: auto;
    padding: 100px 15px;
}

.title{
    margin-botton: 50px;
}

.title span{
    display:block;
}

.title .primary{
    font-size: clamp(26px, 5vw, 52px);
    text-transform: uppercase;
    color: #fff;
}


.title .secondary{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 400;
    color: #000000;
}


.gallery-wrapper{
    display: flex;
    padding-bottom: 30px;
}

.gallery-item{
    position: relative;
    isolation: isolate;
    display: flex;
    flex: 1;
    height: 500px;
    background-color: #000;
    padding: 25px;
    opacity: 1;
    overflow: hidden;
    transition: flex 0.5s, opacity 0.25s;

}

.gallery-item:hover{
    opacity: 1;
    flex: 5;
}

.gallery-item:not(:hover){
    opacity: 0.75;
}


.item-image{
    position: absolute; 
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.item-description {
    align-self: flex-end;
    text-transform: uppercase;
    color: #fff;
}

.name{
    font-size: 37px;
    background: linear-gradient(
        90deg, #f32d5b, #ff009b);
        padding-inline: 10px;
        transform: translateY(-10px);
}


.gallery-item:not(:hover) .name,
.gallery-item:not(:hover) .role{
    transition-delay: 0s;
}

@media screen and (max-width: 768px) {
    .gallery-wrapper{
        flex-direction: column;
        height: 100vh;;
    }

    .gallery-item:hover{
        flex-basis: 100%;
    }
} */

/*  FIN
TEAM CSS */