@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap);
.modal-delete,
a,
a:hover {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 992px) {
  #footer .row {
    flex-wrap: nowrap;
  }
  #footer .col-lg-3 {
    width: 25%;
  }
  #footer .col-lg-4 {
    width: 75%;
  }
  #footer .col-lg-4 ul {
    display: flex;
    justify-content: flex-start;
  }
  #footer .col-lg-4 li {
    margin-right: 0;
  }
}
body {
  background-color: #fff;
  font-family: Epilogue, sans-serif !important;
  color: #000;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2d2e40;
  font-weight: 300;
}
.font-700,
b {
  font-weight: 700;
}
.bg-color-black {
  background-color: #000;
}
.bg-color-white {
  background-color: #fff;
}
.bg-color-gray {
  background-color: #2d2e40;
}
.bg-color-light-gray {
  background-color: #f4f5f6;
}
.bg-color-violet {
  background-color: #714fb6;
}
.text-color-black {
  color: #000;
}
.text-color-white {
  color: #fff;
}
.text-color-gray,
.text-grey {
  color: #2d2e40;
}
.text-color-light-gray {
  color: #a4a4a4 !important;
}
.bold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.backdrop-blur {
  backdrop-filter: blur(4px);
  background-color: rgba(32, 3, 32, 0.449);
  position: fixed;
  min-height: 100vh;
  z-index: 20;
  min-width: 100vw;
}
::selection {
  background: #fff;
  color: #000;
}
.selected,
.selected-whitebg {
  background-color: #714fb6;
  padding: 5px;
  color: #fff;
}
::-moz-selection {
  background: #fff;
  color: #000;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 12px;
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #714fb6;
}
.bg-black {
  background: #000;
}
a {
  color: #232323;
}
a:hover {
  color: #cacaca;
  transition-duration: 0.2s;
}
.containerT {
  display: flex;
  margin-right: 400px;
  margin-left: 400px;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #714fb6;
  overflow: hidden;
}
.preloader-icon,
.preloader-icon span {
  width: 120px;
  height: 120px;
  display: inline-block;
}
.preloader img {
  min-width: 100px;
}
.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader-icon {
  padding: 0;
}
.preloader-icon .icon {
  position: absolute;
  width: 34px;
  height: 40px;
  left: 0;
  right: 0;
  top: 40px;
  margin: 0 auto;
}
.preloader-icon span {
  position: absolute;
  border-radius: 100%;
  background: #fff;
  -webkit-animation: 1.6s linear infinite preloader-fx;
  animation: 1.6s linear infinite preloader-fx;
}
#back-to-top,
.btn-go-top span {
  display: none;
}
.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}
@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
.contain-cookie {
  min-width: 100%;
  height: auto;
  z-index: 100000;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
  color: #111;
  background-color: #fff;
  font-size: 12px;
}
#home,
.nav-item {
  position: relative;
}
.modal-delete {
  background: #f4f5f6;
  color: #1c1c1c !important;
  border-radius: 50px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  transition: 0.4s ease-out;
  border: none;
  font-size: 11px;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  display: inline-block;
  margin-right: 0.3em;
  margin-bottom: 0;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  outline: 0;
  margin-left: 1rem;
}
.btn-violet,
.btn-white {
  border-color: transparent;
}
.modal-delete:hover {
  opacity: 0.7;
  box-shadow: 0 4px 11px rgba(255, 255, 255, 0.2);
  color: #2d2e40 !important;
}
#back-to-top {
  position: fixed;
  bottom: 33px;
  right: 33px;
}
.btn-go-top {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9999;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  border-radius: 50%;
  transition: 0.3s ease-out;
  bottom: 0;
}
.btn-black,
.btn-white {
  display: block;
  justify-content: center;
  padding: 9px 23px 6px;
}
.btn-bg,
.btn-black,
.btn-violet,
.btn-white {
  border-radius: 50px;
}
.btn-go-top:focus:hover,
.btn-go-top:hover {
  color: #000;
  background-color: #fff;
  opacity: 1;
}
.btn-go-top:hover svg {
  fill: black;
}
.btn-go-top svg {
  fill: white;
  width: 60%;
}
.btn-white {
  color: #000;
  background-color: #efefef;
  display: inline-flex;
  align-items: center;
}
.btn-white:hover {
  color: #000;
  opacity: 0.8;
}
.btn-black {
  display: inline-flex;
  align-items: center;
}
.btn-violet {
  color: #efefef;
  display: block;
  background-color: #714fb6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 9px 23px 6px;
}
.btn-violet:hover {
  color: #fff;
  background-color: #61439d;
  transition-duration: 0.2s;
}
.btn-black:hover {
  color: #efefef;
  opacity: 0.8;
}
.btn-bg {
  background: #fff;
  color: #333;
  padding: 0.714rem 1.614rem;
  border: none;
}
.btn-black {
  background: #000;
  color: #fff;
  border: none;
}
.btn-arrow {
  background: 0 0;
  border: none;
}
.btn-arrow:hover .btn-send {
  opacity: 0.8;
}
.font-300,
.title-hero {
  font-weight: 300;
}
.font-light {
  font-weight: 400;
}
.border-t-black,
.border-t-white {
  border-top: 1px solid;
}
.border-b-black {
  border-bottom: 1px solid;
}
.navbar {
  background: #fff;
}
.navbar .navbar-nav .nav-link {
  padding: 1rem 0;
  text-align: center;
}
.navbar-nav .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 97%;
  left: 0;
  background: #000;
  transition: transform 0.4s;
  transform: scaleX(0);
  transform-origin: center;
}
.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
.navbar-nav .active .nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 97%;
  transform: scaleX(1);
}
@media (max-width: 640px) {
  .navbar-brand {
    max-width: 80%;
    margin: 0;
  }
}
#home {
  overflow: hidden;
  height: 100vh;
  align-items: center;
  display: flex;
}
@media (min-width: 1200px) {
  .title-hero {
    font-size: 73px;
  }
}
@media (max-width: 1024px) {
  .title-hero {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  #home {
    height: 100%;
  }
  .title-hero {
    font-size: 45px;
  }
}
.img-hero {
  margin: 0;
}
@media (max-width: 767px) {
  .w-xs-100 {
    width: 100%;
  }
  .img-hero img {
    width: 550px;
  }
}
.review-avatar {
  width: 80px;
  height: auto;
  border-radius: 50px;
}
.comments-image {
  max-height: 50px;
  width: auto;
}
.subtitle-section {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}
.list-checked-item {
  color: #000;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.list-checked-item:last-child {
  border-bottom: none;
}
.list-checked-success .list-checked-item::before {
  background-image: url(../img/svg/arrow-white.svg);
}
.border-top-grey {
  border-top: 1px solid #2d2e40;
}
textarea.form-control-lg {
  min-height: calc(2.5em + 8.314rem);
}
.form-control-lg {
  color: #fff !important;
}
.form-control::placeholder {
  color: #868686;
}
.form-control:focus {
  color: #fff;
  background-color: #202637;
  border-color: #bbb;
  transition: 0.5s ease-out;
}
.img-fluid,
.img-hero img {
  min-width: 250px;
}
.img-fluid-telegram {
  min-width: 250px;
  min-height: 250px;
}
.img-fluid-flow {
  min-width: 300px;
  min-height: 250px;
}
