
.navbar-container{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#58319D, #3B2485);
    padding: 0px 20px 0 50px;
}

.navbar-container > nav > ul {
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-container > nav > ul > li {
    position: relative;
    padding: 0 20px;
}

.nav-hamburguer {
    display: none;
}

@media (max-width: 768px) {
    .navbar-container > nav > ul {
        position: absolute;
        background-color: #3B2485;
        top: 150px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .navbar-container > nav > ul.open {
        transform: translateX(0) !important;
    }
    .nav-hamburguer {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .nav-hamburguer span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }
    .nav-hamburguer.open > span {
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav-hamburguer.open > span:nth-child(2) {
        display: none;
    }
    .nav-hamburguer.open > span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 1px);
    }
}